<% const page='about'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('../../includes/_head.ejs', {
  path: "../../",
  url: "/case/case02/",
  title: "Installation Case Studies［CKD株式会社 小牧工場］ | Flex Arm FAW | CKD株式会社",
  keywords: "Flex Arm,助力装置,バランサ,Installation Case Studies,荷積み,Strenuous Labor,作業負担軽減,Industrial robot",
  description: "インパクトレンチでのボルト締付け作業の負担軽減"}); 
  %>

<body id="case-study-detail">
  <%- include('../../includes/_header.ejs', {path: "../../"}); %>
  <main>
    <section class="common-main-visual">
      <h1 class="common-main-visual__title common-main-visual__title--small">Improving the Work Environment for Processing Equipment</h1>
      <p class="common-main-visual__lead">CKD Corporation, Komaki Plant</p>
    </section>

    <div class="l-inner">
      <ol class="cm-breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="https://www.ckd.co.jp/kiki/jp/" target="_blank">
            <span itemprop="name">Component products TOP</span>
          </a>
          <meta itemprop="position" content="1">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="../">
            <span itemprop="name">Flex Arm</span>
          </a>
          <meta itemprop="position" content="2">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="../">
            <span itemprop="name">Installation Case Studies</span>
          </a>
          <meta itemprop="position" content="3">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="#">
            <span itemprop="name">Improving the Work Environment for Processing Equipment</span>
          </a>
          <meta itemprop="position" content="4">
        </li>
      </ol>
    </div>
    
    <section class="case-study-detail">
      <div class="l-inner">
        <figure class="case-study-detail__main-visual">
          <img src="../../assets/images/case_study/02/main_visual.jpg" alt="サムネイル">
        </figure>
        <p class="case-study-detail__main-lead">
          Our plant has equipment that processes products.<br>
          Previously, one person would lift a workpiece of up to 21 kg to the input port of the processing machine, which posed dangers such as back pain from awkward postures, getting hands caught by the heavy workpiece, or dropping it.<br>
          Although we also used a crane for transport, it could not be installed near the work area, which created the hassle of moving it each time.In addition, the work required completion of crane operation training.
        </p>

        <h2 class="case-study-detail__section-ttl">Challenges</h2>
        <div class="case-study-detail__section-block">
          <figure class="case-study-detail__section-image"><img src="../../assets/images/case_study/02/section_img_01.jpg" alt="10kgの工具を使用、作業者の身体負担大"></figure>
          <div class="case-study-detail__section-text-block">
            <h3 class="case-study-detail__section-title">Transporting 21 kg products, significant physical strain</h3>
            <p class="case-study-detail__section-text">
              In the product assembly process, one person traditionally had to lift a 21 kg product into a container, and then transport it from the container to the input port of the processing machine.<br>
              This process involved the following challenges:<br><br>
              <span class="dots-wrap">
                <span class="dots">・</span>
                Handling heavy objects places a great strain on The body, such as on The shoulders and back.
              </span><br>
              <span class="dots-wrap">
                <span class="dots">・</span>
                The work area layout is not well-organized, resulting In poor workflow and inefficient transport.
              </span><br>
              <span class="dots-wrap">
                <span class="dots">・</span>
                Work using a crane is limited to certain qualified operators.
              </span>
              <span class="dots-wrap">
                <span class="dots">・</span>
                Handling precision parts requires extreme care to avoid scratches, which also causes significant mental strain.
              </span><br>
              Since this is a mandatory task for product shipment, we considered improvement measures to reduce the burden on workers.
            </p>
          </div>
        </div>
        <span class="case-study-detail__arrow"><img src="../../assets/images/case_study/02/section_arrow.svg" alt="アイコン"></span>

        <h2 class="case-study-detail__section-ttl case-study-detail__section-ttl--color">Reason for Adoption</h2>
        <div class="case-study-detail__section-block">
          <figure class="case-study-detail__section-image"><img src="../../assets/images/case_study/02/section_img_02.jpg" alt="台車式により作業エリアの変更不要"></figure>
          <div class="case-study-detail__section-text-block">
            <h3 class="case-study-detail__section-title">An air balancer that can be installed even in a narrow space</h3>
            <p class="case-study-detail__section-text">
              As an improvement initiative, we first observed the actual work scene of a Flex Arm that had already been installed at another of our company's plants.<br>
              We determined that the Flex Arm would lead to a solution because it can be used even in narrow work areas, allowing installation without changing the current space or aisles, and because it is all-air, it can operate without electrical wiring.<br>
              In addition, its relatively affordable price also encouraged its adoption.
            </p>
          </div>
        </div>

        <h2 class="case-study-detail__section-ttl case-study-detail__section-ttl--black">Post-Installation Effects</h2>
        <div class="case-study-detail__section-block">
          <figure class="case-study-detail__section-image"><img src="../../assets/images/case_study/02/section_img_03.jpg" alt="安全な姿勢での作業により身体負担を大幅減"></figure>
          <div class="case-study-detail__section-text-block">
            <h3 class="case-study-detail__section-title">Reduced burden even for one-person work in a safe posture</h3>
            <p class="case-study-detail__section-text">
              By installing the Flex Arm, transport work can now be performed in a safe posture, significantly reducing the physical and mental burden on workers.<br>
              Taking this opportunity to review the site layout also reduced waste in transport and movement, which led not only to a reduced burden on workers but also to an improved environment for the entire site.<br>
              In the future, if an increase in payload or energy-saving effects can be expected, the consideration of electrification is also anticipated, and we will consider initiatives to realize even better products.
            </p>
          </div>
        </div>

        <h2 class="case-study-detail__movie-block-title">Video Introduction</h2>
        <div class="case-study-detail__movie-block">
          <%- include('../../includes/component/_movie_youtube.ejs', {videoId: "9wANmB5SDAE"}); %>
        </div>
        <div class="case-study-detail__link-btn-wrap common__link-btn-overlap">
          <a class="case-study-detail__link-btn common__link-btn-overlap-btn -arrow" href="../">Return to List</a>
          <div class="common__link-btn-bg"></div>
        </div>
      </div>
    </section>
  </main>
  <%- include('../../includes/_footer.ejs', {path: "../../"}); %>

  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="../../assets/js/index.js?20221206"></script>
</body>

</html>