<% const page='about'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('../includes/_head.ejs', {
  path: "../",
  url: "/faq/",
  title: "FAQ | Flex Arm FAW | CKD株式会社",
  keywords: "Flex Arm,助力装置,バランサ,FAQ",
  description: "フレックスアームに関するよくあるご質問にお答えします。"}); 
  %>

<body id="faq">
  <%- include('../includes/_header.ejs', {path: "../"}); %>
  <main>
    <section class="common-main-visual">
      <h1 class="common-main-visual__title">FAQ</h1>
      <p class="common-main-visual__lead">We answer your questions.</p>
    </section>

    <div class="l-inner">
      <ol class="cm-breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="https://www.ckd.co.jp/kiki/jp/" target="_blank">
            <span itemprop="name">Component products TOP</span>
          </a>
          <meta itemprop="position" content="1">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="../">
            <span itemprop="name">Flex Arm</span>
          </a>
          <meta itemprop="position" content="2">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="#">
            <span itemprop="name">FAQ</span>
          </a>
          <meta itemprop="position" content="3">
        </li>
      </ol>
    </div>

    <section class="faq">
      <div class="l-inner">
        <h2 class="faq__title">
          Click to view the answers.
        </h2>
        <ul class="faq__list">
          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">Please tell me the approximate cost of the Flex Arm.</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  <span class="txt-inner">
                    As it varies by specification, please first consult with us via&nbsp;<a href="https://www.ckd-contact.com/form/96a4ca4f3c/input" class="txt-link" target="_blank">the inquiry form.</a>
                  </span>
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">Are there any specifications for the installation location?</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  <span class="txt-inner">
                    We recommend a flat location with little dust and no exposure to water.<br>
                    If you are considering use in a special environment (dust, water droplets, cleanroom, etc.), please consult with us via&nbsp;<a href="https://www.ckd-contact.com/form/96a4ca4f3c/input" class="txt-link" target="_blank">the inquiry form.</a>
                  </span>
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">Are there any necessary environments or items to prepare for installation?</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">Please prepare an air source.</p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">Are tours or demos possible?</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">Tours are possible.However, we do not conduct demonstrations at customer sites.</p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">How long is the delivery time?</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">It is usually about 2 months, but this may vary depending on the specifications and time of year.Please contact us for details.</p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">What is the difference from the PAW series?</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  The PAW series is a balancer type that approaches from below, with an axis configuration selected to match the location of use.<br>
                  On the other hand, the FAW series has a vertical stroke of 1.5 m while the overall unit height is low at 2.5 m (*), making it a package specification that can be installed in places with low ceilings.<br>
                  *Depending on the operating conditions, the overall height may exceed 2.5 m.
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">What is the maximum transport weight in kg?</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">The rated payload is 50 kg, including the attachment weight.</p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">Can it handle a wide variety of workpieces?</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">Because the system detects the workpiece weight each time, it can handle a wide variety within the payload capacity.</p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">What types of fixing methods are there?</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  You can choose from four types: floor-mounted fixed, floor-mounted pallet, column-mounted, and ceiling-mounted.<br>
                  Please consult with us if you have other requests.
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">Is it possible to make it mobile?</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  If you choose the floor-mounted pallet type, it can be moved by forklift.<br>
                  However, it must be fixed in a designated position after installation.<br>
                  If you are considering moving it with a pallet lifter or similar equipment, please consult with us separately.
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">Is it possible to manufacture attachments?</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  <span class="txt-inner">
                    You can check our existing attachments&nbsp;<a href="../attachment/" class="txt-link">here.</a>
                  </span>
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">Is maintenance necessary?</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  We recommend following the procedures based on the instruction manual.<br>
                  For daily inspections, please focus on managing the air quality (element) and visually inspecting the rope.<br>
                  If you would like a periodic inspection or maintenance, please contact your nearest CKD sales office.
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">Is overseas sales possible?</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">Yes, we also support overseas sales.Please contact us for details.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </main>
  <%- include('../includes/_footer.ejs', {path: "../"}); %>


  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="../assets/js/index.js?20221206"></script>
  <script>
        var question = $('.faq__question__box');
        var answer = $('.faq__js-trigger');
          $(answer).hide();
          $(question).click(function () {
            $(this).toggleClass('active');
            $(this).next().slideToggle(300);
          });
  </script>
</body>

</html>