<% const page='home' ; %>
  <!DOCTYPE html>
  <html lang="ja">
  <%- include('./includes/_head.ejs', { path: "./" , url: "/" , title: "Flex Arm FAW［TOP］ | CKD株式会社" ,
    keywords: "CKD株式会社,Flex Arm,助力装置,バランサ,Lifting Heavy Objects, Strenuous Labor, Workplace Improvement, Back Pain" ,
    description: "フレックスアームは圧縮エアを用いた下方からアプローチできる新しいバランサです。" }); %>

    <body id="index">
      <%- include('./includes/_header.ejs', {path: "./" }); %>
        <main>
          <section class="main-visual">
            <div class="main-visual__wrapper">
              <div class="main-visual__left-block">
                <h1 class="main-visual__title pc"><img src="./assets/images/mv_ttl.svg?240823"
                    alt="FAWSeries Compact Arm"></h1>
                <div class="main-visual__image">
                  <img src="./assets/images/mv_main-img.png" alt="FAWSeries Compact Arm">
                </div>
              </div>
              <div class="main-visual__right-block">
                <ul class="main-visual__problem-list">
                  <li class="main-visual__problem-item">Lifting Heavy Objects</li>
                  <li class="main-visual__problem-item">Strenuous Labor</li>
                  <li class="main-visual__problem-item">Workplace Improvement</li>
                  <li class="main-visual__problem-item">Back Pain</li>
                </ul>
                <h1 class="main-visual__title sp"><img src="./assets/images/mv_ttl.svg" alt="FAWSeries Compact Arm">
                </h1>
                <p class="main-visual__description">
                  The Flex Arm is an air balancer with a wide operating range that supports a rated payload of 50 kg.<br>
                  It can be adapted to sites where installing assisting devices was previously difficult, contributing to improved work efficiency and workplace enhancement.
                </p>
                <div class="main-visual__movie-wrap">
                  <iframe src="https://www.youtube.com/embed/adodA9Z9or4?si=nEyKv1kwSX1CLO5i"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                  </iframe>
                </div>
                <div class="armwrap">
                  <div class="arm" id="arm">
                    <!-- <span class="armline"></span> -->
                  </div>
                  <ul class="main-visual__animation-links">
                    <li class="main-visual__animation-item">
                      <a class="main-visual__animation-trigger" href="./feature/">
                        <span class="main-visual__animation-click">Click</span>
                        <div class="main-visual__animation-box">
                          <span class="main-visual__animation-text">Flex Arm Features</span>
                        </div>
                      </a>
                    </li>
                    <li class="main-visual__animation-item">
                      <a class="main-visual__animation-trigger" href="./case/">
                        <span class="main-visual__animation-click">Click</span>
                        <div class="main-visual__animation-box">
                          <span class="main-visual__animation-text">Case Studies</span>
                        </div>
                      </a>
                    </li>
                    <li class="main-visual__animation-item">
                      <a class="main-visual__animation-trigger" href="./attachment/">
                        <span class="main-visual__animation-click">Click</span>
                        <div class="main-visual__animation-box">
                          <span class="main-visual__animation-text">Attachment<br>Examples</span>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="main-visual__border"></div>
          </section>

          <section class="example">
            <div class="example__title-wrap">
              <h2 class="example__title">
                Do you have any of these concerns<br>
                about introducing an assisting device?<span class="example__title--l"></span>
              </h2>
            </div>
            <div class="l-inner">
              <ul class="example__list">
                <li class="example__list-item">It seems difficult to operate, and I'm worried if I can master it.</li>
                <li class="example__list-item">The workspace is narrow, and I can't secure a place to install it.</li>
                <li class="example__list-item">I have safety concerns, making It difficult to introduce to The site.</li>
                <li class="example__list-item">I want to keep The initial cost down.</li>
              </ul>
            </div>
            <p class="example__lead">
              <span class="example__lead--l">The Flex Arm solves these problems</span><br>
              with its easy operation, space-saving design, and high safety!
            </p>
          </section>

          <section class="feature">
            <div class="l-inner">
              <h2 class="feature__title">
                Flex Arm Features
              </h2>
              <p class="feature__lead">
                The Flex Arm is an air balancer with a wide operating range that supports a rated payload of 50 kg.<br>
                It can be mounted on columns or ceilings, allowing for flexible adaptation to sites with low ceilings or limited floor space.
              </p>
              <ul class="common-feature__list feature__list">
                <li class="common-feature__item">
                  <a href="./feature/#point01">
                    <div class="common-feature__card">
                      <div class="common-feature__card-floating-text">
                        POINT
                        <span class="common-feature__card-floating-text--l">01</span>
                      </div>
                      <div class="common-feature__text-blk">
                        <h3 class="common-feature__card-title common-en-bold">Simple</h3>
                        <div class="common-feature__card-img -img01"><img
                            src="./assets/images/feature_img_01.png?240920" alt="Simple Structure & Easy Operation"></div>
                      </div>
                      <p class="common-feature__card-lead">Simple Structure & <br>Easy Operation</p>
                    </div>
                  </a>
                </li>
                <li class="common-feature__item">
                  <a href="./feature/#point02">
                    <div class="common-feature__card">
                      <div class="common-feature__card-floating-text">
                        POINT
                        <span class="common-feature__card-floating-text--l">02</span>
                      </div>
                      <div class="common-feature__text-blk">
                        <h3 class="common-feature__card-title common-en-bold">Wide</h3>
                        <div class="common-feature__card-img -img02"><img
                            src="./assets/images/feature_img_02.png?240920" alt="コンパクトで取り付けが簡単"></div>
                      </div>
                      <p class="common-feature__card-lead">Wide Operating Range,<br>Minimal Height</p>
                    </div>
                  </a>
                </li>
                <li class="common-feature__item">
                  <a href="./feature/#point03">
                    <div class="common-feature__card">
                      <div class="common-feature__card-floating-text">
                        POINT
                        <span class="common-feature__card-floating-text--l">03</span>
                      </div>
                      <div class="common-feature__text-blk">
                        <h3 class="common-feature__card-title common-en-bold">Safety</h3>
                        <div class="common-feature__card-img -img03"><img
                            src="./assets/images/feature_img_03.png?240920" alt="安全機構により誰でも安全に使用可能"></div>
                      </div>
                      <p class="common-feature__card-lead">Safe for Anyone<br>to Use</p>
                    </div>
                  </a>
                </li>
              </ul>
              <div class="feature__link-btn-wrap common__link-btn-overlap">
                <a class="feature__link-btn common__link-btn-overlap-btn -arrow" href="./feature/">See Features in Detail </a>
                <div class="common__link-btn-bg"></div>
              </div>
            </div>
          </section>

          <section class="link-section">
            <div class="s-inner">
              <ul class="link-section__banner-list">
                <li class="link-section__banner common__link-btn-overlap">
                  <a href="./case/" class="common__link-btn-overlap-btn--w link-section__banner-flx-box">
                    <div class="link-section__banner-text-block">
                      <h3 class="link-section__banner-ttl">
                        Case Studies<br class="sp">(Installation & Applications)
                      </h3>
                      <p class="link-section__banner-text">Introducing installation and application case studies.</p>
                    </div>
                    <div class="link-section__banner-img-block">
                      <img src="./assets/images/case_img.jpg" alt="サムネイル">
                    </div>
                  </a>
                  <div class="common__link-btn-bg"></div>
                </li>
              </ul>

              <ul class="link-section__links link-section__links--column3">
                <li class="link-section__link-btn common__link-btn-overlap">
                  <a href="./attachment/" class="common__link-btn-overlap-btn--w">Attachment Examples </a>
                  <div class="common__link-btn-bg"></div>
                </li>
                <li class="link-section__link-btn common__link-btn-overlap">
                  <a href="./faq/" class="common__link-btn-overlap-btn--w">FAQ</a>
                  <div class="common__link-btn-bg"></div>
                </li>
                <li class="link-section__link-btn common__link-btn-overlap">
                  <a href="./product/" class="common__link-btn-overlap-btn--w">Related Products</a>
                  <div class="common__link-btn-bg"></div>
                </li>
              </ul>

            </div>
          </section>
        </main>

        <%- include('./includes/_footer.ejs', {path: "./" }); %>

          <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
          <script src="./assets/js/index.js?20221206"></script>
          <script>

            const video = document.querySelector('#video01');
            const video_btn = document.querySelector('#video_btn');
            let is_playing = false;
            video_btn.addEventListener('click', () => {
              if (!is_playing) {
                video.play();
                video.controls = true;
                is_playing = true;
                $("#video_btn").hide();
              } else {
                video.pause();
                is_playing = false;
              }
            });
          </script>
    </body>

  </html>