<% const page='about'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('../includes/_head.ejs', {
  path: "../",
  url: "/product/",
  title: "Related Products | Flex Arm FAW | CKD株式会社",
  keywords: "Flex Arm,助力装置,バランサ,Related Products,バランサ,エアサプライ",
  description: "フレックスアームに関連する商品をご紹介します。"}); 
  %>

<body id="product">
  <%- include('../includes/_header.ejs', {path: "../"}); %>
  <main>
    <section class="common-main-visual">
      <h1 class="common-main-visual__title">Related Products</h1>
      <p class="common-main-visual__lead">Introducing related products.</p>
    </section>

    <div class="l-inner">
      <ol class="cm-breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="https://www.ckd.co.jp/kiki/jp/" target="_blank">
            <span itemprop="name">機器商品TOP</span>
          </a>
          <meta itemprop="position" content="1">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="../">
            <span itemprop="name">Flex Arm</span>
          </a>
          <meta itemprop="position" content="2">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="#">
            <span itemprop="name">Related Products</span>
          </a>
          <meta itemprop="position" content="3">
        </li>
      </ol>
    </div>

    <section class="product">
      <div class="l-inner">
        <h2 class="product__title">
          Click to view details <br class="sp">for each product.
        </h2>
        <ul class="product__link-list">
          <li class="product__link common__content-link-btn__wrap">
            <a class="common__content-link-btn" href="https://www.ckd.co.jp/kiki/jp/paw/">
              <div class="product__link-block column">
                <div class="product__link-text-blk">
                  <h3 data-mh="ttl" class="product__link-main-text">PowerArm PAW Series</h3>
                  <p class="product__link-lead-sub">
                    The PAW series is a new type of balancer (weight assisting device) that uses compressed air and can approach from below and the front.<br>
                    It can easily lift heavy objects up to 80 kg (*).<br>
                    It has a multi-axis specification, can be folded, and is compact when stored.<br>
                    It can also be used for complex tasks such as inverting.<br>
                    (*) Varies depending on specifications.
                  </p>
                </div>
                <figure class="product__link-image">
                  <img class="pc" src="../assets/images/product/link_img_01.png" alt="PowerArm PAW Series">
                  <img class="sp" src="../assets/images/product/link_img_01.png" alt="PowerArm PAW Series">
                </figure>
              </div>
              <div class="product__link-btn">See Details</div>
            </a>
          </li>
          <li class="product__link common__content-link-btn__wrap">
            <a id="cawLink" class="common__content-link-btn" href="">
              <div class="product__link-block column">
                <div class="product__link-text-blk">
                  <h3 data-mh="ttl" class="product__link-main-text">Compact Arm CAW Series</h3>
                  <p class="product__link-lead-sub">
                    This is a compact air balancer that supports the holding and maneuvering of tools, instruments, etc.<br>
                    The low-friction cylinder and high-rigidity guide reduce the burden on the operator, realizing ease of use and workability.
                  </p>
                </div>
                <figure class="product__link-image">
                  <img class="pc" src="../assets/images/product/link_img_02.png" alt="フレックスアームFAWシリーズ">
                  <img class="sp" src="../assets/images/product/link_img_02.png" alt="フレックスアームFAWシリーズ">
                </figure>
              </div>
              <div class="product__link-btn">See Details</div>
            </a>
          </li>
          <li class="product__link common__content-link-btn__wrap">
            <a class="common__content-link-btn" href="https://www.ckd.co.jp/kiki/jp/pdf/LN-007.pdf" download>
              <div class="product__link-block column">
                <div class="product__link-text-blk">
                  <h3 data-mh="ttl" class="product__link-main-text">Support Arm SAW Series</h3>
                  <p class="product__link-lead-sub">
                    Supports lifting, lowering, and turning movements of heavy objects up to 130 kg.<br>
                    With its light operability and high safety, anyone can easily and safely transport heavy objects.
                  </p>
                </div>
                <figure class="product__link-image">
                  <img class="pc" src="../assets/images/product/link_img_03.jpg" alt="吊り下げ式バランサユニットBBSシリーズ">
                  <img class="sp" src="../assets/images/product/link_img_03.jpg" alt="吊り下げ式バランサユニットBBSシリーズ">
                </figure>
              </div>
              <div class="product__link-btn">Download</div>
            </a>
          </li>
          <li class="product__link common__content-link-btn__wrap">
            <a class="common__content-link-btn" href="https://www.ckd.co.jp/kiki/jp/caw/assets/pdf/bbs_series.pdf" download>
              <div class="product__link-block column">
                <div class="product__link-text-blk">
                  <h3 data-mh="ttl" class="product__link-main-text">Ultra-Low Friction Balance Cylinder BBS Series</h3>
                  <p class="product__link-lead-sub">
                    This is a low-friction cylinder (with brake) for balancers.<br>
                    Simple and highly safe, it does not cause stress to the operator.<br>
                    It can be installed in all of our customers' equipment.<br>
                    *There is no automatic balance.
                  </p>
                </div>
                <figure class="product__link-image">
                  <img class="pc" src="../assets/images/product/link_img_04.png" alt="吊り下げ式バランサユニットBBSシリーズ">
                  <img class="sp" src="../assets/images/product/link_img_04.png" alt="吊り下げ式バランサユニットBBSシリーズ">
                </figure>
              </div>
              <div class="product__link-btn">Download</div>
            </a>
          </li>
        </ul>
        <h3 class="product__other-title">Other Related Products</h3>
        <ul class="product__link-list">
          <li class="product__link common__content-link-btn__wrap">
            <a id="asuLink" class="common__content-link-btn" href="">
              <div class="product__link-block">
                <div class="product__link-text-blk">
                  <h3 data-mh="ttl" class="product__link-main-text">Compressed Air Portable Air Supply Unit ASU Series</h3>
                  <p class="product__link-lead-sub">
                    This is a small compressor that can easily supply clean air with only a 100 VAC power source, even in places where compressed air is not available.<br>
                    All necessary equipment is built into the carrying case, so it can be easily transported.<br>
                    With its excellent design, it is active in all kinds of scenes, such as offices, research labs, exhibitions, and various events.
                  </p>
                </div>
                <figure class="product__link-image">
                  <img class="" src="../assets/images/product/link_img_05.png" alt="Compressed Air Portable Air Supply Unit ASU Series">
                </figure>
              </div>
              <div class="product__link-btn">See Details</div>
            </a>
          </li>
          <li class="product__link common__content-link-btn__wrap">
            <a id="abpLink" class="common__content-link-btn" href="">
              <div class="product__link-block">
                <div class="product__link-text-blk">
                  <h3 data-mh="ttl" class="product__link-main-text">Air Booster ABP Series</h3>
                  <p class="product__link-lead-sub">Without using electricity, in combination with an air tank, it enables pressure to be increased up to twice the primary pressure (max. 0.99 MPa) using only air pressure.</p>
                </div>
                <figure class="product__link-image">
                  <img class="" src="../assets/images/product/link_img_06.png" alt="Precision Regulator RP Series">
                </figure>
              </div>
              <div class="product__link-btn">See Details</div>
            </a>
          </li>
          <li class="product__link common__content-link-btn__wrap">
            <a id="atLink" class="common__content-link-btn" href="">
              <div class="product__link-block">
                <div class="product__link-text-blk">
                  <h3 data-mh="ttl" class="product__link-main-text">Air Tank AT Series</h3>
                  <p class="product__link-lead-sub">Made of stainless steel, we have a lineup of 5L and 10L specifications.</p>
                </div>
                <figure class="product__link-image">
                  <img class="" src="../assets/images/product/link_img_07.png" alt="Precision Regulator RP Series">
                </figure>
              </div>
              <div class="product__link-btn">See Details</div>
            </a>
          </li>
          <li class="product__link common__content-link-btn__wrap">
            <a id="rpLink" class="common__content-link-btn" href="">
              <div class="product__link-block">
                <div class="product__link-text-blk">
                  <h3 data-mh="ttl" class="product__link-main-text">Precision Regulator RP Series</h3>
                  <p class="product__link-lead-sub">It has high-precision pressure control, stable flow characteristics with a small pressure drop, and is a large relief flow type despite its compact size.</p>
                </div>
                <figure class="product__link-image">
                  <img class="" src="../assets/images/product/link_img_08.jpg" alt="Precision Regulator RP Series">
                </figure>
              </div>
              <div class="product__link-btn">See Details</div>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </main>
  <%- include('../includes/_footer.ejs', {path: "../"}); %>

  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="../assets/js/index.js?20221206"></script>
</body>

</html>