<% const page='about'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('../../includes/_head.ejs', {
  path: "../../",
  url: "/case/case01/",
  title: "Installation Case Studies［CKD株式会社 小牧工場］ | Flex Arm FAW | CKD株式会社",
  keywords: "Flex Arm,助力装置,バランサ,Installation Case Studies,防爆,重量物搬送,移載作業",
  description: "ナットランナーでのねじ締付け作業の負担軽減"}); 
  %>

<body id="case-study-detail">
  <%- include('../../includes/_header.ejs', {path: "../../"}); %>
  <main>
    <section class="common-main-visual">
      <h1 class="common-main-visual__title common-main-visual__title--small">
        Increasing the Payload of Collaborative Robots!<br>
        Labor and unmanned operation support<br class="sp">with the Flex Arm
      </h1>
      <p class="common-main-visual__lead">SERIX Co., Ltd.</p>
    </section>

    <div class="l-inner">
      <ol class="cm-breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="https://www.ckd.co.jp/kiki/jp/" target="_blank">
            <span itemprop="name">Component products TOP</span>
          </a>
          <meta itemprop="position" content="1">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="../">
            <span itemprop="name">Flex Arm</span>
          </a>
          <meta itemprop="position" content="2">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="../">
            <span itemprop="name">Installation Case Studies</span>
          </a>
          <meta itemprop="position" content="3">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="#">
            <span itemprop="name">Increasing the Payload of Collaborative Robots!Labor and unmanned operation support with the Flex Arm</span>
          </a>
          <meta itemprop="position" content="4">
        </li>
      </ol>
    </div>

    <section class="case-study-detail">
      <div class="l-inner">
        <figure class="case-study-detail__main-visual">
          <img src="../../assets/images/case_study/01/main_visual.jpg" alt="サムネイル">
        </figure>
        <p class="case-study-detail__main-lead">
          Many companies face challenges in transporting heavy objects due to a shortage of workers.<br>
          SYLIX Co., Ltd. took on the challenge of a new solution aiming to achieve both labor-saving/unmanned transport of heavy objects and safety.<br>
          Based in Yokkaichi, Mie Prefecture, SYLIX Co., Ltd. is a system integrator (SIer) that has been creating efficient "production systems" with electrical and control technology since its establishment in 1983.
        </p>

        <h2 class="case-study-detail__section-ttl">Challenges</h2>
        <div class="case-study-detail__section-block">
          <figure class="case-study-detail__section-image"><img src="../../assets/images/case_study/01/section_img_01.jpg" alt="Challenges"></figure>
          <div class="case-study-detail__section-text-block">
            <h3 class="case-study-detail__section-title">Challenges with automated transport systems for 20 kg or more</h3>
            <p class="case-study-detail__section-text">Against a backdrop of worker shortages, as robot adoption progresses, SYLIX also received numerous inquiries about system development related to palletizing and automated transport.</p>
          </div>
        </div>
        <span class="case-study-detail__arrow"><img src="../../assets/images/case_study/01/section_arrow.svg" alt="アイコン"></span>

        <h2 class="case-study-detail__section-ttl case-study-detail__section-ttl--color">Reason for Adoption</h2>
        <div class="case-study-detail__section-block">
          <figure class="case-study-detail__section-image"><img src="../../assets/images/case_study/01/section_img_02.png" alt="FAWSeries Compact Arm"></figure>
          <div class="case-study-detail__section-text-block">
            <h3 class="case-study-detail__section-title">Simple Control and Wide Operating Range</h3>
            <p class="case-study-detail__section-text">
              To address the challenges of the collaborative robot's operating range and allowable load, SYLIX focused on combining it with an "assisting device" as an auxiliary unit.<br>
              They considered other assisting devices, but there were issues with control complexity and installation freedom, so the "simple control and wide operating range" of the Flex Arm was the deciding factor for its introduction.<br>
              The Flex Arm has a simple structure using an air cylinder and is an all-air specification that does not require a power source.They first highly evaluated the point that it "enables simple control."<br>
              Furthermore, another major reason for its adoption was that its wide work range, with a turning radius of 2.5 m and a vertical stroke of 1.5 m, enabled flexible automated transport without hindering the collaborative robot's movement.
            </p>
          </div>
        </div>

        <h2 class="case-study-detail__section-ttl case-study-detail__section-ttl--black">Post-Installation Effects</h2>
        <div class="case-study-detail__section-block">
          <figure class="case-study-detail__section-image"><img src="../../assets/images/case_study/01/section_img_03.jpg" alt="Post-Installation Effects"></figure>
          <div class="case-study-detail__section-text-block">
            <h3 class="case-study-detail__section-title">Transport work that was previously not possible can now be done</h3>
            <p class="case-study-detail__section-text">
              By combining the Flex Arm and a collaborative robot, it became possible to transport heavy objects that were difficult to handle with a conventional collaborative robot alone, realizing the proposal of an automated transport system theoretically capable of handling up to 60 kg.<br>
              By leveraging CKD's know-how, it also became possible to propose automated equipment compatible with workpieces of various shapes and weights, such as bags, pails, and 18-liter cans.<br>
              In the future, they mentioned that they want to enable automated transport even for workpieces that are relatively difficult to handle, such as rolls and films, by combining an assisting device with a collaborative robot.
            </p>
          </div>
        </div>

        <h2 class="case-study-detail__movie-block-title">Video Introduction</h2>
        <div class="case-study-detail__movie-block">
          <%- include('../../includes/component/_movie_youtube.ejs', {videoId: "wgIHY0yfR7M"}); %>
        </div>
        <div class="case-study-detail__link-btn-wrap common__link-btn-overlap">
          <a class="case-study-detail__link-btn common__link-btn-overlap-btn -arrow" href="../">Return to List</a>
          <div class="common__link-btn-bg"></div>
        </div>

      </div>
    </section>
  </main>
  <%- include('../../includes/_footer.ejs', {path: "../../"}); %>

  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="../../assets/js/index.js?20221206"></script>
</body>

</html>